  <!-- File name: footer.ejs
	  Author's name: Mohammad Etedali - 301056465
	  Website address: https://comp299.herokuapp.com
    Date: 6/30/21
	  Description: This is the partial view for footer -->

<script src="/Scripts/app.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
