  <!-- File name: home.ejs
	  Author's name: Mohammad Etedali - 301056465
	  Website address: https://comp299.herokuapp.com
    Date: 6/30/21
	  Description: This is the partial view for home -->


<div class="row">
    <div class="col-4 mt-5">
      <div class="media">
        <img
          class="media-object"
          src="Assets/images/mainlogo.png"
          alt="A photo of Mohammad."
          width="100%"
        />
      </div>
    </div>
    <div class="col-8 mt-5">
      <p>
        Welcome to <%= title %>'s online portfolio!<br />
      </p>
      <span>I’m a web & soft­ware devel­op­er from Toronto, Canada.</span><br/>
      <span><%= message %></span>
    </div>
  </div>

  <a type="button" class="btn btn-outline-primary mt-2" href="/about">About Me</a>