  <!-- File name: project.ejs
	  Author's name: Mohammad Etedali - 301056465
	  Website address: https://comp299.herokuapp.com
    Date: 6/30/21
	  Description: This is the partial view for project -->

<div class="row m-2">
    <div class="card m-2" style="width: 18rem;">
        <img src="Assets/images/projectone.png" class="card-img-top" alt="Project One">
        <div class="card-body">
          <h5 class="card-title">Transportation System</h5>
          <h6 class="card-title">My Role: Design and Develop</h6><br/>
          <p class="card-text">Web app that helps to large scale organization to control their vehichle online and check them one the map. This project establish in several companies in Iran.</p>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="Assets/images/projecttwo.png" class="card-img-top" alt="Project Two">
        <div class="card-body">
          <h5 class="card-title">Beauty and Hair Style</h5>
          <h6 class="card-title">My Role: Design and Develop</h6><br/>
          <p class="card-text">This website helps the client to get an appointment and check the price of hair styling.</p>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="Assets/images/projectthree.png" class="card-img-top" alt="Project Three">
        <div class="card-body">
          <h5 class="card-title">My Portfolio website</h5>
          <h6 class="card-title">My Role: Design and Develop</h6><br/>
          <p class="card-text">On this website I'm currently working on, I try to introduce myself and get familiar with my skills.</p>
        </div>
      </div>
</div>