<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center"></div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3>Contact Me</h3>
                <p class="mb-4">
                  I'm open for any suggestion or just to have a chat
                </p>
                <div id="form-message-warning" class="mb-4"></div>
                <div id="form-message-success" class="mb-4">
                  Your message was sent, thank you!
                </div>
                <div class="row mb-4">
                  <div class="col-md-4">
                    <div class="dbox w-100 d-flex align-items-start">
                      <div class="text">
                        <p>
                          <span>Address:</span> Toronto, Canada
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="dbox w-100 d-flex align-items-start">
                      <div class="text">
                        <p>
                          <span>Email:</span>
                          <a href="mailto:metedali@my.centennialcollege.ca"
                            >Email</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="dbox w-100 d-flex align-items-start">
                      <div class="text">
                        <p>
                          <span>Phone:</span>
                          <a href="tel://4167221611">416-722-1611</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <form
                  method="POST"
                  id="contactForm"
                  name="contactForm"
                  class="contactForm"
                >
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          id="name"
                          placeholder="Name"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            name="lastname"
                            id="lastname"
                            placeholder="Lastname"
                          />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            name="contactnumber"
                            id="contactnumber"
                            placeholder="ContactNumber"
                          />
                        </div>
                        
                      </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="email"
                          placeholder="Email"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea
                          name="message"
                          class="form-control"
                          id="message"
                          cols="30"
                          rows="4"
                          placeholder="Create a message here"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <a
                          href="/"
                          class="btn btn-primary">Send Message</a>
                      
                        <div class="submitting"></div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="w-100 social-media mt-5">
                  <h3>Follow me here</h3>
                  <p>
                    <a href="https://www.facebook.com/etedali/">Facebook</a>
                    <a href="https://twitter.com/etedali">Twitter</a>
                    <a href="https://www.linkedin.com/in/etedali/">LinkedIn</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="info-wrap w-100 p-5 img" style="background-image: url(Assets/images/img.jpg);">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>