<div class="row">
    <div class="col-2">
      <div class="media">
        <img
          class="media-object"
          src="/assets/images/MainLogo.jpg"
          alt="A photo of Mohammad."
          height="200"
          width="200"
        />
      </div>
    </div>
    <div class="col">
      <p>
        Welcome to <%= title %>'s online portfolio!<br />
      </p>
      <span>I’m a web & soft­ware devel­op­er from Toronto, Canada.</span><br/>
      <span><%= message %></span>
    </div>
  </div>
  <a type="button" class="btn btn-outline-primary m-5" href="/about">About Me</a>