<div class="row m-2">
    <div class="card m-2" style="width: 18rem;">
        <img src="Assets/images/proj1.png" class="card-img-top" alt="Project One">
        <div class="card-body">
          <h5 class="card-title">Transportation System</h5>
          <p class="card-text">Web app that helps to large scale organization to control their vehichle online and check them one the map.</p>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>