  <!-- File name: service.ejs
	  Author's name: Mohammad Etedali - 301056465
	  Website address: https://comp299.herokuapp.com
    Date: 6/30/21
	  Description: This is the partial view for service -->

<div class="row m-2">
    <div class="card m-2" style="width: 18rem;">
        <img src="Assets/images/windows.png" class="card-img-top" alt="Service" height="200" >
        <div class="card-body">
          <h5 class="card-title">Install and Repair Windows OS</h5>
          <p class="card-text">I can fix your computer quickly.</p>
        </div>
        <a href="mailto:metedali@my.centennialcollege.ca" class="btn btn-outline-primary m-2">Reach me out</a>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="Assets/images/programming.jpg" class="card-img-top" alt="Service" height="200">
        <div class="card-body">
          <h5 class="card-title">Web and windows programming</h5>
          <p class="card-text">I can help you to introduce your services and ability to the world.</p>
        </div>
        <a href="mailto:metedali@my.centennialcollege.ca" class="btn btn-outline-primary m-2">Reach me out</a>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="Assets/images/mobile_app.png" class="card-img-top" alt="Service" height="200">
        <div class="card-body">
          <h5 class="card-title">Mobile App Development</h5>
          <p class="card-text">I can help you to have your own mobile app.</p>
        </div>
        <a href="mailto:metedali@my.centennialcollege.ca" class="btn btn-outline-primary m-2">Reach me out</a>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="Assets/images/teaching.jpeg" class="card-img-top" alt="Service" height="200">
        <div class="card-body">
          <h5 class="card-title">Teaching Programming</h5>
          <p class="card-text">I can help you to learn a programming language.</p>
        </div>
        <a href="mailto:metedali@my.centennialcollege.ca" class="btn btn-outline-primary m-2">Reach me out</a>
      </div>
</div>