<% include partials/header.ejs %> <% include partials/main_nav.ejs %>

<!--Main page-->
<main class="container">
  <% if (title == "Home") { %>
    <%- include partials/home.ejs %> 
  <% } %>

  <% if (title == "About") { %>
    <%- include partials/about.ejs %> 
  <% } %>
  
</main>

<%- include partials/bottom_nav.ejs %> 
<% include partials/footer.ejs %>
